<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="loading-pane hide" [ngClass]="{'show-loading': loading==true}">
    <ion-spinner name="crescent"></ion-spinner>
</div>
<ion-content overflow-scroll='true'>
    <ion-toolbar no-border-top no-border-bottom>
        <form (ngSubmit)="submitSearch($event)">
          <ion-searchbar name="test" placeholder="Search City / Country" (ionClear)="searchCitiesSelect = []" [(ngModel)]="searchQuery">
          </ion-searchbar>
        </form>
      </ion-toolbar>
  <ion-list *ngIf="searchCitiesSelect.length == 0">
    <ion-item>
      <ion-label>{{currCity}}</ion-label>
      <ion-select (ionChange)="onCitySelect($event.detail.value)">
        <ion-select-option *ngFor="let city of localCityData" [value]=city>{{ city.title }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <div  *ngIf="(searchCitiesSelect.length != 0)">
    <ion-list-header color="dark">
      <ion-label>Search Results</ion-label>
    </ion-list-header>
    <ion-item detail *ngFor="let searchCity of searchCitiesSelect">
      <ion-label (click)="onCitySelect(searchCity)">
        {{ searchCity.title }}
      </ion-label>
    </ion-item>
  </div>
  
  <ion-row>
    <ion-col size="12" size-sm>

    </ion-col>
  </ion-row>
  <ion-row *ngIf="(searchCitiesSelect.length == 0)">
    <ion-col size="12" size-sm *ngFor="let weather of cityData.consolidated_weather">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><img src="/assets/weather_icons/{{ weather.weather_state_abbr }}.svg"
              style="width: 20%;" />{{ weather.weather_state_name }}</ion-card-subtitle>
          <ion-card-title>{{ weather.applicable_date | date: 'EEEE, MMM d, y'}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Temperature: {{weather.the_temp | number: '1.0-0'}} &#176;C</p>
          <p>Min Temp: {{weather.min_temp | number: '1.0-0'}}</p>
          <p>Max Temp: {{weather.max_temp | number: '1.0-0'}}</p>
          <p>Wind Direction: {{weather.wind_direction_compass}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
